{{define "edit"}}
{{template "header" .}}

<h1>Admin Edit Post</h1>

<form role="form" method="POST" action="/{{ .Admin }}/edit/{{ .Metadata.Slug }}">
  <div class="form-group">
    <label for="Title">Title</label>
    <input type="text" class="form-control" name="title" value="{{ .Metadata.Title }}">
  </div>
  <div class="form-group">
    <label for="Title">Author</label>
    <input type="text" class="form-control" name="author" value="{{ .Metadata.Author }}">
  </div>
  <div class="form-group">
    <label for="Title">Author</label>
    <input type="text" class="form-control" name="categories" value="{{ range .Metadata.Categories }}{{.}}, {{ end }}">
  </div>
  <div class="form-group">
    <textarea id="post" name="post" rows= "20">{{ .Post }}</textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="publish" value="publish" {{ if .Metadata.Publish }}{{ "checked" }}{{ end }}> Publish
    </label>
  </div>
  <button type="submit" class="btn btn-default">Save Post</button>
</form>



{{template "footer"}}
{{end}}